.header { 
    grid-area: header; 
}

.left-col { 
    grid-area: side-left; 
    width: 5rem;
}

.main { 
    grid-area: main; 
}

.right-col { 
    grid-area: side-right; 
    width: 5rem;
}

.footer { 
    grid-area: footer; 
}

.itemgrid{
    display: grid;
    grid-template-areas:
      'side-left header header header side-right'
      'side-left main main main side-right'
      'side-left footer footer footer side-right';
    gap: 1rem;
    padding: 1rem;
}

.itemgrid > div {
    text-align: center;
    padding: 1rem;
    width: 100%;
    align-items: center;
  }

.link{
    color: black;
}


@media screen and (min-width: 600px) {
    .itemgrid{
        display: grid;
        grid-template-areas:
          'side-left header header header side-right'
          'side-left main main main side-right'
          'side-left footer footer footer side-right';
        gap: 1rem;
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .itemgrid{
        display: grid;
        grid-template-areas:
          'side-left header header header side-right'
          'side-left main main main side-right'
          'side-left footer footer footer side-right';
        gap: 1rem;
        padding: 0.2rem;
    }
}

@media screen and (max-width: 600px) {
    .itemgrid{
        display: grid;
        grid-template-areas:
          'header'
          'main'
          'footer';
          padding: 0.2rem;
    }
}