.itemgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.link {
    color: black;
}
