.bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important;
  background: #fff;
  margin: 5px;
  padding-top: 0.75rem;
}

.button {
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .bar {
    padding-bottom: 1rem;
    justify-content: center !important;
  }

  .homeIcon {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.25rem;
  }
}
